.top-buffer {
    margin-top: 15px;
}

.star, .viewStar {
    height: 40px;
    width: 40px;
}

.smallStar {
    height: 20px;
    width: 20px;
}

.movieButton {
    margin: 0 15px;
    width: 100px;
}

.edit {
    display: none;
}

.validationErrors {
    margin-bottom: 10px;
    display: none;
    font-weight: bold;
    color: #be0000;
}

.errorHeaders {
    margin: 10px auto;
    width: 50%;
    font-size: large;
}

img {
    max-height: 300px;
}

#trailerModal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#trailerVideo {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

html, body {
    height: 100vh;
}

.container-fluid {
    height: 100%;
}

#librarySide, #movieSide {
    height: 100%;
}

#libraryTableDiv {
    max-height: 750px;
    overflow: auto;
}

#movieListTable {  
    max-height: 100%;
}

#movieTable {
    width: 70%;
    margin: 15px auto;
    max-height: 100%;
}

#movieSide {
    max-height: 100%;
}